name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - src/**
      - package.json
      - .eslintrc.json
      - .prettierrc
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

env:
  NODE_VERSION: lts/*

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up PNPM
        uses: pnpm/action-setup@v4
      - name: Set up Node
        uses: actions/setup-node@v5
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm
      - name: Install dependencies
        run: pnpm install

      - name: Run tests
        run: pnpm test
